body{
    margin: 0;
    padding: 0;
}
#wrapper{
width: 100%;
margin: 0 auto;
font-family:Arial, Helvetica, sans-serif ;
}

#header{
    width: 100%;
    background-color:#F05626;
    height:800px ;
}

#footer{
    width: 100%;
    background-color: #23242A;
    min-height: 400px;
    margin-bottom: 0px;
}


.logo{
    width: 13%;
    margin: 0 auto;
    padding-top: 20px;
    padding-right: 25px;
}
.logo img{
    width: 100%;
}

/* Form login */
.form_container{
    position: absolute;
    max-width: 500px;
    min-height: 400px;
    width: 100%;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    background: #efeeee;
    padding:20px ;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1);
    font-family: Arial, Helvetica, sans-serif;
}

/* khi bấm có hover */

.form_container h2{
    font-size: 30px;
    margin: 15px 0px;
}

.input_button{
    margin-top: 20px;
    position: relative;
    width: 100%;
    height: 40px;
}

.input_button input{
    width: 100%;
    height: 100%;
    border: 1px solid #959595;
    border-radius:7px;
    cursor: pointer;
    color: #232323;
    font-size: 14px;
    font-weight: bold;
}

.input_button input:hover{
    color: white;
    background-color: #f9683c;
}

.input_button img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 28%;
}

.text_note{
    position: relative;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    color: #959595;
}

.text_note hr.left{
    position: absolute;
    width: 43%;
    left: 0;
    border: 0.1px solid #959595;
    opacity: 0.3;
}

.text_note hr.right{
    position: absolute;
    width: 43%;
    right: 0;
    top: 0;
    border: 0.1px solid #959595;
    opacity: 0.3;
}

.input_box{
    border: 1px solid #959595;
    color: #5c5b5b;
    border-radius: 7px;
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 43px;
}



.input_box label{
    font-size: 13px;
    margin: 10px 10px;
}

.input_box input{
    width: 95%;
    padding-left: 10px;
    height: 45%;
    border: none;
    outline: none;
    border-radius: 7px;
    background: #efeeee;
  

}

.input_box input:focus{
    border-color:#F05626;
}

.input_box i{
    position: absolute;
    top: 50%;
    right:5px;
    transform: translateY(-50%);
    font-size: 15px;
    cursor: pointer;
    color: #959595;
}

.option_field{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form_container a{
    color: #F05626;
    font-size: 20px;
    text-decoration: none;
}

.form_container a:hover{
    text-decoration: underline;
}

.checkbox{
    display: flex;
    column-gap: 4px;
    white-space: nowrap;
    font-size: 20px;
}

.checkbox input{
    accent-color:#F05626 ;
    cursor: pointer;
}

.checkbox label{
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    color: #0b0217;
}

.form_container .button{
    background-color: #F05626;
    margin-top: 30px;
    width: 100%;
    height: 40px;
    border-radius: 7px;
    font-size: 20px;
    color: white;
    border: none;
    cursor: pointer;
}

.form_container .login_signup{
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
}


/* footer */
.container-footer{
    width: 1280px;
    height: 200px;
    margin: 0 auto;
    padding: 100px 0;
}

.flex-footer{
    display: flex;
    justify-content: space-between;
    color: white;
}

ul.text{
    list-style: none;
    font-size: 17px;
}

ul.text li div a{
    text-decoration: none;
    color: white;
    
}

.flex-footer ul.text{
    display: block;
    margin: 20px -40px;
}

ul.text_2{
    list-style: none;
    font-size: 17px;
}

ul.text_2 li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul.text_2 li a:hover{
    color:rgb(255, 89, 0); ;
}

.flex-footer ul.text_2{
    display: block;
    margin: 20px 100px;
}

ul.text_3{
    list-style: none;
    font-size: 17px;
}

ul.text_3 li a{
    text-decoration: none;
    color: white;
}

.flex-footer ul.text_3{
    display: block;
    margin: 20px 0px;
}



div.button_1{
    width: 350px;
    height: 40px;
    border: 1px solid orangered;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
}

div span.hover{
    color: rgb(255, 89, 0);
}

div span.hover:hover{
    color:white;
}

div.button_2{
    width: 350px;
    height: 40px;
    background-color: tomato;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
} 
